@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  text-align: left;
}

.header h1 {
  color: black;
  font-family: "Sanchez", serif;
  font-size: 50px;
  padding-left: 30px;
}

.header h2 {
  color: black;
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  padding-left: 70px;
}

/* Home Page */

.homepage {
  position: relative;
  color: black;
  background-color: #e2ece1;
  height: 100vh;
  width: 100vw;
}

/* Slot Machine */

.slotmachinepage {
  position: relative;
  color: black;
  background-color: #e2ece1;
  height: 100vh;
  width: 100vw;
}

.slotmachine {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b4cecd;
  width: 500px;
  height: 100px;
  border: 1px solid #000;
  margin: auto;
}

.slots {
  padding: 8px;
  margin: 8px;
  border: 1px solid #000;
}

.winning-text {
  font-size: 60px;
}

/* List Page */
.listpage {
  position: relative;
  color: black;
  background-color: #e2ece1;
  height: 100vh;
  width: 100vw;
}

.chattext {
  width: 100vw;
}

.chattext input {
  width: 30vw;
  border-radius: 5px;
}

.chat-container {
  background: #fffffd;  /* fallback for old browsers */
  width: 70vw;
  height: 70vh;
  border: 1px solid #000;
  margin: auto;
}

.individual-chats {
  color: black;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  width: 30vw;
  margin: auto;
  margin-top: 8px;
  background-color: #78C5EF;
  border: 1px solid rgb(66, 65, 64);
  border-radius: 80px;
}


.individual-chats button {
  width: 5px;
  height: 5px;
  padding:0px;
  background-color: #78C5EF;
  border: 1px solid rgb(114, 181, 236);
}

/* Lottery Page */
.lotterypage {
  position: relative;
  color: black;
  background-color: #d0d8cf;
  height: 100vh;
  width: 100vw;
}

.lottery-list {
  padding: 8px;
  margin: auto;
  margin-top: 15px;
  text-align: center;
  width: 80px;
  height: 80px;
  border: 1px solid #000;
}

.lottery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 150px;
  margin: auto;
}